@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* -------------------------------------- HEADER ----------------------------------------*/

// navbar colors 
.header {
	background-color: @navbar-bg;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .btn-link, .navbar-default  .pagination-block i {
	color: @navbar-icon;
}
		
.navbar-default	.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default	.navbar-nav .btn-link:hover ,
 .pagination-block i.fa:hover, .pagination-block i.fa:focus{
	color: @navbar-hover;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: @navbar-icon;
}

// mobile toogle 
.navbar-default .navbar-toggle {
	border: inherit;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: inherit;
	.icon-bar {
		background-color: @navbar-hover;
	}
}

// logo 
.header .forum-logo {
	margin-top: 10px;
	width: 95px;
	height: 30px;
	margin-left: -6px;
	@media (max-width: @screen-xs-max){
		margin-left: 10px;
	}
	margin-right: 5px;
}

/* -------------------------------------- STYLE ----------------------------------------*/


body {
	background: @bg-color; 	
	font-family: @exodo-font-family;
	font-size: 13px;
}

a {
	color: @primary;
}
a:hover, a:focus {
	color: black; //cambiar
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
}
//botones

@color-fondo: #2e3539;
@color-linea: #cf246a;
@speed: 0.20s;
@transition: all @speed ease;


//exodus button
.btn-default, .btn-primary, .btn-warning, .btn-danger, .btn-info {
	
	width: auto;
	height: 27px;
	line-height: 27px !important;
	margin: auto;
	color: #fff;
	padding: 0 5px 0 5px !important;
  	cursor: pointer;
	overflow: hidden;
	border-radius: 0px;
	font-size: 13px !important;
	vertical-align: middle;
	background-color: @color-fondo !important;
  	border-left: 5px solid @color-linea !important;
  	border-top: 0 !important;
  	border-bottom: 0 !important;
  	border-right: 0 !important;
  
  	span, a {
		color: inherit;
		line-height: inherit;
		vertical-align:inherit;
	    font-size: 13px;
	}
  
  	.fa {
    	line-height: inherit;
	    vertical-align:inherit;
	    min-width: 25px;
	    font-size: 16px;
		margin-top: -3px;
  }
 
  	&:hover , &:focus{
		
		color: #fff !important;
		box-shadow: 0 0 0 2px #e4e4e4;
		text-decoration: none;
	  	
		.fa {
      	  //	-webkit-transform: scale(1.2);
      		//-moz-transform: scale(1.2);
      	  	//-ms-transform: scale(1.2);
      	  	//-o-transform: scale(1.2);
      	}
	}
  
}

//boostrap want to keep button text on black
.open > .dropdown-toggle.btn-default {
	color: #fff !important;
}

//composer caret color
.composer .dropdown-toggle .caret{
	background-color: @color-fondo !important;
	color: #fff;
	&:hover, &:focus{
		background-color: @color-fondo !important;
	}
}

//navpills

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: @primary;
}

/* -------------------------------------- TOPIC ----------------------------------------*/

.btn-xs { //a medias
font-size: 12px !important;
line-height: 1.5 !important;
background-color: #fff;
}

.topic h1 {
	text-align: center;
	color: @primary;
	span:first-letter{
		text-transform: uppercase;
	}
}

.topic .posts .icon {
	margin-top: 0px !important;
}
.topic .posts .icon img, .topic .posts .icon .user-icon {
	float: none;
	padding: 0;
	border-radius: 0;
	border: 0 solid;
	min-height: 128px;
	min-width: 128px;
	height: 128px;
	width: 128px;
	margin-top: 0px;
	margin-right: 0px;
}

.topic .posts .post-header{
	background: @topic-header;
	display: block;
	line-height: 30px;
	width: 100%;

	.username a {
		font-size: 15px;
		color: @topic-header-text;
		cursor: pointer;
		font-weight: normal;
		word-wrap: break-word;
		padding-left: 5px;
	}
}

//toPID button
.btn-parent {
	float:right;
	font-size: 11px !important;
	background-color: @topic-details !important;
  	border-left: none !important;
	color: black;
  	.fa {
	    font-size: 13px;
	}
  	&:hover , &:focus{
		
		color: black !important;
		box-shadow: 0 0 0 2px #e4e4e4;
		text-decoration: none;
  	}
}

.topic .post-details {
	float: left;
	text-align: center;
	background-color: @topic-details;
	background-image: @pattern;
}
.topic .content {
	padding: 15px 15px 0px 15px;
	margin-top: 0px !important;
	margin-left: 0px !important;
	background-color: @topic-content;
	@media (min-width: @screen-xs-max /*  767px*/) {min-height: 128px;}
}
.topic .time {
	padding: 5px 15px 5px 5px;
	text-align: right;
	@media (min-width: @screen-xs-max /*  767px*/) {margin-left: 128px;}
	background-color: @topic-content;
	
}
.topic .post-signature {
	margin-left: 128px;
	background-color: @topic-content;
	padding-left: 5px;
}
.topic .box {
	background-color: @topic-details;
	background-image: @pattern;
}

.topic .postbar small{
	background-color: @topic-details !important;
	display: block;
	line-height: 30px;
	width: 100% !important;
	text-align: right;
	background-image: @pattern;
}


/* -------------------------------------- MODULES ----------------------------------------*/
// modules/NPROGRESS
#nprogress .bar {
  	background: @primary
}
#nprogress .spinner-icon {
    border-top-color: @primary;
    border-left-color: @primary;
}


